*{
    margin: 0;
    padding: 0;
    scroll-behavior: auto;
    box-sizing: border-box;
    
}

html,body{
    width: 100%;
    height: 100%;
}
#main{
    position: relative;
    width: 100%;
    height:auto;
    
}
img{
    object-fit: cover;
    width: 100%;
    height: 500px;
}

.nav{
    position: absolute; 
    z-index: 99;
    width: 100%;
    height: 3%;
    padding: 2.5rem;
    color: white;
    display: flex;
    justify-content: space-between;
}
.cnt1 h4{
    position: absolute;
    font-family: Gilroy-BlackItalic ☞;
    letter-spacing: .2rem;
    font-weight: 500;
    margin-left: 4%;
}
.cnt1 h4:nth-child(1){
    color:transparent;
    -webkit-text-stroke: .5px #ffffff;
}
.cnt1 h4:nth-child(2){
    color: #e2e0e0;
    animation: animate 4s ease-in-out infinite;
}
.carousel-inner h5{
    font-weight: 600;
    letter-spacing: 5px;
}
@keyframes animate
{
    0%,100%
    {
        clip-path: polygon(0 42%, 14% 42%, 27% 46%, 42% 54%, 63% 53%, 81% 48%, 100% 39%, 99% 100%, 1% 99%);
    }
    50%{
        clip-path: polygon(0 53%, 14% 59%, 29% 60%, 43% 55%, 63% 40%, 81% 34%, 100% 36%, 99% 100%, 1% 99%);

    }
}

.cnt2 {
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 13.5rem;
}
.cnt2 a{
    font-family: Gilroy-BlackItalic ☞;
    letter-spacing: .1rem;
    text-decoration: none;
    margin-right: 20%;
    font-size: 13px;
    text-align: center;
    align-items: center;
    /* font-weight: 200; */
    color: white;
}
.cnt2 i{
    font-size: 17px;
    margin-right: 1.9rem;
    
}
#menu{
    opacity: 0;
}
.qutes{
    font-size: 30px;
    font-family: Birdrockers;
    color: white;
    font-family: 100;
    margin-top: 15%;
    margin-left: 2.5%;
    letter-spacing: 5px;
}
.scroll{
    font-family: Gilroy;
    position: absolute;
    bottom: 10%;
    left: 50%;
    color: white;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 100;
    transform: translate(-50%,-50%);
}
.scroll h3{
    font-size: 19px;
}
.scroll1{
   position: absolute;
   left: 25%;
   
}
.flex{
    flex-wrap:wrap;
    display: inline-flex;
    width: auto;
    min-height: auto;   
    margin-top: 1%;
    /* background-color: red; */
}
.flex a{
    margin-right: 1%;
    text-decoration: none;
}
#main2{
    width: 100%;
    height: auto;
    background-image: url("/images/1/black.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: .9%;
    
    
}
#input input{
    width: 99%;
    border-radius: 2px;
    border: none;
    padding: .5%;
    margin-top: 1%;
}

.scroll1 i{
    display: block;
    font-size: 20px;
    animation: scroll 2s infinite;
}
.scroll1 i:nth-child(2){
    animation-delay:-.1s ;
}

.scroll1 i:nth-child(3){
    animation-delay:-.2s ;
}
.social_media{
    position: fixed;
    right: 5%;
    bottom: 8%;
    z-index: 99;
}
.social_media i{
    font-size: 25px;
    color: white;
    margin-left: 1rem;
}
.menu_page{
    opacity: 0;
   
   
   
}
.cnt3 a{
    text-decoration: none;
    color: white ;
    
}
.menu_page h3{
    cursor: pointer;
    position: absolute;
    right: 5%;
    top: 2%;
}
.menu_page .cnt3{
    position: absolute;
    top: 45%;
    left: 50%;
    font-size: 30px;
    transform: translate(-50%,-50%);
}

.cards{
    margin-top: 1%;
    margin-right: .8%;
}

.card{
    width: 200px;
    height: 250px;
    background: #000000;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .25s ease;
    backface-visibility: hidden;
    margin-right: 1%;
}
.card:hover{
    transform: scale(.9);
}
.card:hover:after{
    height: 280px;
}
.card:hover .con-text p{
    margin-bottom: opx;
    opacity: 1;
}
.card:hover img{
    transform: scale(1.25);
}
.card:hover .ul{
    transform: translate(0);
    opacity: 1;
}
.card:after{
    width: 100%;
    content: '';
    left: 0px;
    bottom: 0px;
    height: 0px;
    height: 150px;
    position:absolute;
    background: linear-gradient(180deg,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    z-index: 20;
    transition: all .2s ease;
}
.card img{
    width: 230px;
    height: 300px;
    z-index: 10;
    object-fit:cover;
    transition: all .2s ease;
}
.card .con-text{
    z-index: 30;
    position: absolute;
    bottom: 0px;
    color: #fff;
    padding: 20px;
    padding-bottom: 30px;
}
.card .con-text p{
    font-size: .8rem;
    opacity: 0;
    margin-bottom: -20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}
.card .con-text p button{
    padding: 7px 17px;
    border-radius: 12px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    margin-top: 10px;
    margin-left: auto;
    cursor: pointer;
    transition: all .25s ease ;
    font-family: Gilroy;
    font-size: .75rem;
    outline: none;
}
.card .con-text p button:hover{
    background: #fff;
    color: #000;
}
#main2 h2{
    width: 200px;
    font-family:Gilroy;
    font-family: 900;
    height: 5%;
    margin-top: .8%;
    font-size: 14px;
    letter-spacing: 2px;
    color: white;
   text-align: center;
}
.ul{
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 40;
    border-radius: 14px;
    padding-left: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    top: 0px;
    opacity: 0;
    transform: translate(100%);
    transition: all .2s ease;
}
.ul li{
    background: #fff;
    list-style: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .7;
    transition: all .25s ease;
    backface-visibility: hidden;
}
.ul li:last-child{
    border-radius: 0px 0px 12px 12px;
}
.ul li:first-child{
    border-radius: 12px 12px 0px px ;
}
.ul li:hover{
    opacity: 1;
    transform: translate(-2px,-4px);
    border-radius: 6px;
}
.ul li i{
    font-size: 1.4rem;
    color: #000;
}
.logout{
    padding: 10px;
    position: absolute;
    right: 4%;
    top: 7%;
    display: none ;
    width: 8%;
    height: auto;
    border-radius: 3px;
    background-color: #fff;
}
.icon1{
    /* margin-left: 25%; */
    justify-content: center;
    display: flex;
    color: black;
    width:100%;
    border-bottom: .5px solid rgb(101, 100, 100);
}
.icon1 i{
    margin-left: 15%;
}
.icon1 a{
    color: black;
}
.icon1 h4{
    font-family: Gilroy;
}
.main3{
    position: relative;
    width: 100%;
    height: 45vh;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Gilroy;
}
.main3 .alltext{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
    height: 50%;
    align-items: center;
    text-align: center;
    /* background-color: red; */
}

.alltext h2{
    position: absolute;
    font-family: Gilroy-BlackItalic ☞;
    letter-spacing: .2rem;
    font-weight: 500;
    transform: translate(-50%,-50%);
    left: 50%;
    
}
.icons1 a{
    text-decoration: none;
    color: white;
}
.alltext h2:nth-child(1){
    color:transparent;
    -webkit-text-stroke: 2px #7200b4;
}
.alltext h2:nth-child(2){
    color: #ffffff;
    animation: animate 4s ease-in-out infinite;
}
@keyframes animate
{
    0%,100%
    {
        clip-path: polygon(0 42%, 14% 42%, 27% 46%, 42% 54%, 63% 53%, 81% 48%, 100% 39%, 99% 100%, 1% 100%);
    }
    50%{
        clip-path: polygon(0 53%, 14% 59%, 29% 60%, 43% 55%, 63% 40%, 81% 34%, 100% 36%, 99% 100%, 1% 99%);

    }
}

.main3 p{
    margin-top: 2%;
    letter-spacing: 1px;
}
.all_circle{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
.circle{
    width: 70px;
    height: 20px;
    cursor: pointer;
    margin-left: 5%;
}
.icons1{
    display: flex;
    font-size: 25px;
    justify-content: center;
    cursor: pointer;
    margin-top: 3%;
    
}
#icon2 {
    margin-left: 3%;
}
#icon3 {
    margin-left: 3%;
}
#icon4 {
    margin-left: 3%;
}
#icon5 {
    margin-left: 3%;
}


#icon2 :hover{
    color:#C435A7;
}
#icon3 :hover{
    color:#1DA1F2;
}
#icon4 :hover{
    color:#199427;
}
#icon5 :hover{
    color:#4867AA;
}


@media only screen and (max-width: 600px) {
    .cnt2 {
        margin-left: 80%;
        margin-top: 1%;
    }
    .cnt2 a{
       display: none;
    }
    #heart{
        display: none;
    }
    #menu{
        opacity: 1;
    }
    #user{
        display: none;
    }
    .qutes{
        font-size: 19px;
        margin-top: 50%;
       
    }
    .scroll{
      
        position: absolute;
        bottom: 9%;
        left: 50%;
       transform: translate(-50%,-50%);
    }
    .scroll h3{
        font-size: 15px;
    }
    .scroll1 i{
        font-size: 15x;
    }
    .social_media{
        position: fixed;
        right: 7%;
        bottom: 7%;
    }
    .social_media i{
        font-size: 17px;
        color: white;
        margin-left: 1rem;
    }
    .menu_page{
        font-family: Gilroy;
        opacity: 0;
        position: absolute;
        z-index: 1;
        right: 0;
        top: 8%;
        letter-spacing: 2px;
        /* transform: translate(-50%,-50%); */
    background-image: linear-gradient(to bottom,#002b6f,#535F93);
        width: 100%;
        height: 93%;
        border-radius: 5px;
    }
    .cnt3 ul{
        font-size: 20px;
    }
  }
@keyframes scroll {

    0%{
        opacity: 0;
        transform:translate(20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(20px,20px);
    }
        
}
