* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    font-family: Gilroy;

}

html,body {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

.form-container{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(https://images.unsplash.com/photo-1534190760961-74e8c1c5c3da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80z) no-repeat;
    background-size: cover;
    background-position: center;
}
.form-container form{
    min-height: 60vh;
    width: 35%;
    background: rgba(255,255,255,.1);
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0,0,0,.3);
    border-top: 1px soild rgba(255,255,255,.3);
    border-left: 1px solid  rgba(255,255,255,.3);
    backdrop-filter: blur(10px);
}

.form-container form h3{
    font-size: 30px;
    padding: 30px 0;
    color: rgb(255, 255, 255);
    letter-spacing: 3px;
}

.form-container form i{
    padding: 0 5px;
    font-size: 20px;
    color: black;
}

.form-container form input{
    outline: none;
    border: none;
    height: 30px;
    width: 85%;
    background: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    border: none;
    box-shadow: 0 0 5px rgba(91, 90, 90, 0.5) ;
    font-size: 15px;
    padding: 0 15px;
    margin: 20px 0;
    letter-spacing: 2px;
    border-radius: 5px;
}
.form-container form input[type="submit"]{
    width: 85%;
    cursor: pointer;
    background: linear-gradient(90deg,deeppink,blueviolet);
    margin-top: 35px;
    border-radius: 5px;
    letter-spacing: 3px;
    color: white;
} 
h6{
   letter-spacing: 1.5px;
    font-size: 15px;
    margin-top: 5%;
}
h6 a{
    text-decoration: none;
}